# Lint
flake8==3.5.0

# Django
Django==2.0.1
django-environ==0.4.4

# Django-REST-Framework
djangorestframework==3.7.7

# Authentication
django-allauth==0.35.0
django-rest-auth==0.9.3

# Postgres Driver
psycopg2==2.7.3.2
